<h1 class="text-center"><%= t('header.operations.new') %></h1>

<%= link_to operations_path do %>
  <%= image_tag("back_button.png", width: '30px', class:"ms-3") %>
<% end %>


<%= render "form", operation: @operation %>

